@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

cite{
	display: block;
	font-style: italic;
	text-align: right;
}

table{
	font-variant-numeric: tabular-nums;
	margin: 1em auto;
}

table tr td{
	padding: 0 .5em;
	vertical-align: top;
}

table tr.total td{
	border-top: 1px solid;
}

table td:first-child{
	max-width: 75%;
}

table td:nth-child(2){
	text-align: right;
}

[epub|type~="z3998:verse"] p,
[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

body [xml|lang]{
	font-style: italic;
}

[epub|type~="z3998:poem"] header{
	font-variant: small-caps;
	margin-bottom: 1em;
	margin-top: 3em;
}

[epub|type~="z3998:poem"] header p{
	font-size: 1.25em;
	text-align: center;
}

[epub|type~="z3998:poem"] header p + p{
	font-size: 1em;
}
